body,p{
	margin: 0;
	padding: 0;
}

a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."]{
    display: none !important;
}

.primary{
	background-color: #262626;
}

.text-primary{
	color:#262626;
}

.secondary{
	background-color: white;
}

.text-secondary{
	color: white;
}

.tertiary{
	background-color: lightseagreen !important;
}

.text-tertiary{
	color: lightseagreen;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/Montserrat-Medium.ttf');
}

.nav-wrapper{
	position: fixed;
	width: 100%;
	z-index: 9;
}

.nav{
	font-family: roboto;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.nav-r{
	width: 100%;
	height: 37.5px;
}

.nav>.menu,.nav>.logo{
	display: inline-block;
}

.nav>.menu{
	float: right;
	margin-right: 15%;
}

.nav>.menu>span{
	padding: 10px;
	cursor: pointer;
}

.hamburger-menu-content{
	font-family: roboto;
}

.mobile-menu{
	padding-top: 10px;
	padding-bottom: 10px;
}

.web-menu:hover{
	color: lightseagreen;
	border-bottom: 5px solid lightseagreen; 
}

.nav>.logo{
	margin-left: 10%;
	cursor: pointer;
}

.segment{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: roboto;
}

.footer{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: roboto;
	font-size: 25px;
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

.contact-address{
	margin-right: 10px;
	cursor: pointer;
}

.copyright{
	font-size: 12px;
}

.segment-odd{
	background-color: #f2f2f2;
}

.banner{
	width: 100%;
  	position: relative;
	height: 60vh;
	background: linear-gradient(#262626,lightseagreen,#f2f2f2);
}

.home-wrapper{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 300px;
}

.label{
	font-family: montserrat;
	margin-bottom: 5px;
}

div[class^='has-img'], div[class*=' has-img']{
	background-repeat: no-repeat;
	background-position: center;
}

.has-img-contain{
	background-size: contain;
}

.has-img-100{
	background-size: 100% 100%;
}

.has-img-80{
	background-size: 80% 80%;
}

.has-img-70{
	background-size: 70% 70%;
}

.has-img-60{
	background-size: 60% 60%;
}

button{
	padding: 15px;
	border:none;
	border-radius: 5px;
	font-family: montserrat;
	cursor: pointer;
}

.center{
	margin: auto;
}

.align-center{
	text-align: center;
}

.inline{
	display: inline-block;
}

.box,.box-wide{
	padding: 10px;
	width: 200px;
	font-size: 14px;
	margin-bottom: 10px;
}

.frame{
	font-size: 14px;
	margin-bottom: 10px;
	border: 1px solid #f1f3f4;
}

.box-wide{
	width: 300px;
}

.hovered{
	transition: background-color 1s ease;
	cursor: pointer;
}

.hovered-text{
	transition: color 1s ease;
}

.hovered:hover{
	background-color: lightseagreen;
	color: white;
}

.hovered-text:hover{
	color: lightseagreen;
}

.large-text{
	font-size: 18px;
}

.photo{
	width: 100px;
	height: 100px;
	background-color: white;
}

.large-photo{
	background-color: white;
	width: 300px;
	height: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: montserrat
}

.skill-wrapper,.portofolio-wrapper{
	width: 938px;
}

.medium
{
	background: linear-gradient(to left, #f1f3f4 65%, #2196f3 35%);
    background-size: auto;
	background-size: 200% 100%;
	transition: background 2s ease;
}

.great
{
	background: linear-gradient(to left, #f1f3f4 55%, lightseagreen 45%);
    background-size: auto;
	background-size: 200% 100%;
	transition: background 2s ease;
}

.good
{
	background: linear-gradient(to left, #f1f3f4 75%, salmon 25%);
    background-size: auto;
	background-size: 200% 100%;
	transition: background 2s ease;
}

.bar
{
	height: 15px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #f1f3f4;
}

::-webkit-scrollbar-thumb {
    background: lightseagreen; 
    border-radius: 100px;
    border:1px solid lightseagreen;
}

::-moz-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #f1f3f4;
}

::-moz-scrollbar-thumb {
    background: lightseagreen; 
    border-radius: 100px;
    border:1px solid lightseagreen;
}

.opacity{
	opacity: 0;
	transition: opacity 1s ease
}

.opacity>div{
	padding-top: calc(150px - 9px);
}

.hover-primary:hover{
	color: black;
}

.hamburger-menu{
	display: none;
}

.hamburger-menu-content{
	display: none;
	border-bottom: 2px solid lightseagreen;
}

.tooltip{
	position: absolute;
	background-color: black;
	color: white;
	padding:10px;
	font-family: roboto;
	border-radius: 10px;
	font-size: 12px;
	margin-top: 50px;
	margin-left: 40px;
	transition: 1s opacity ease;
	opacity: 0;
}

.has-tooltip:hover .tooltip{
	opacity: 0.8;
}

@media screen and (max-width: 480px) {
	.web-menu{
		display: none;
	}
	.hamburger-menu{
		display: inline;
	}
	.skill-wrapper{
		width: 320px;
	}
	.portofolio-wrapper{
		width: 350px;
	}
	.large-photo{
		width: 150px;
		height: 150px;
	}
	.opacity>div{
		padding-top: calc(75px - 9px);
		font-size: 12px;
	}
	.menu{
		margin-right: 8% !important;
	}
}